:root {
  --font-main: "Inter", Inter, sans-serif;
  --font-size-sidebar: 13px;
  --font-size-subtitle: 16px;
  --font-size-logo: 22px;
  --font-size-user: 16px;
  --color-bg: #d2d2d2;
  --color-sidebar-bg: #fff;
  --color-primary: #59a098;
  --color-primary-light: #d9d9d9;
  --color-settings: #61677f;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--color-bg);
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
  margin-left: 300px;
}

.sidebar {
  width: 300px;
  background: var(--color-sidebar-bg);
  padding: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 24px;
}

.logo img {
  width: 34px;
  height: 34px;
}

.logo h1 {
  font-size: var(--font-size-logo);
  color: var(--color-primary);
  margin: 0;
  font-weight: 600;
}

.menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}
.menu li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  color: var(--color-primary);
  font-size: var(--font-size-sidebar);
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 4px;
  transition: background 0.15s;
  background: none;
  font-weight: 400;
}

.menu li.active,
.menu li:hover {
  background: var(--color-primary-light);
  margin-right: 16px;
  font-weight: 500;
}

.btn-registrar {
  margin: 16px 0;
  padding: 12px 14px;
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-sidebar);
  cursor: pointer;
  width: 65%;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  box-shadow: none;
  transition: 0.2s;
}

.btn-registrar:hover {
  background: #3e706a;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  margin-bottom: 8px;
  width: 95%;
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: var(--font-size-user);
  color: var(--color-primary);
  font-weight: 500;
}

.logout-btn {
  color: var(--color-primary);
  font-size: var(--font-size-sidebar);
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px 12px;
  background: none;
  transition: background 0.2s, color 0.2s;
  border: 1.5px solid var(--color-primary);
  width: fit-content;
}

.logout-btn:hover {
  background: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}

.content {
  flex: 1;
  background: transparent;
  margin: 12px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.02);
  flex-direction: column;
}

.titulo {
  color: var(--color-primary);
  font-size: var(--font-size-subtitle);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.subtitulo {
  font-size: 14px;
  color: var(--color-settings);
  margin-bottom: 16px;
}

.header-section {
  width: 100%;
  background: var(--color-sidebar-bg);
  border-radius: 8px;
  padding: 10px 20px;
}

.campo-pesquisa {
  padding: 7px;
  margin: 7px 0;
  border-radius: 8px;
  border: solid 1px #61677f67;

  & input {
    outline: none;
    border: none;
    font-family: var(--font-main);
    margin-left: 10px;
    width: 97%;
    font-size: 15px;
    color: var(--color-settings);
    font-weight: 500;
  }

  & input:focus ~ .campo-pesquisa {
    border-color: var(--color-primary);
    color: var(--color-primary);
  }
}
