:root {
  --font-main: "Inter", Inter, sans-serif;
  --font-size-sidebar: 13px;
  --font-size-subtitle: 16px;
  --font-size-logo: 22px;
  --font-size-user: 16px;
  --color-bg: #d2d2d2;
  --color-sidebar-bg: #fff;
  --color-primary: #59a098;
  --color-primary-light: #d9d9d9;
  --color-settings: #61677f;
  --color-white: #fff;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--color-bg);
  height: 100%;
}

.home-content {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 12px 8px 0 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: var(--color-bg);
  height: 100%;
  min-height: 0;
  overflow: visible;
  padding: 0;
}

.grafico {
  display: flex;
  flex-direction: row;
  height: 32vh;
  border-radius: 10px;
  gap: 6px;
  margin-bottom: 4px;
}

.container-grafico-coluna,
.container-grafico-pizza {
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 8px 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container-grafico-coluna {
  width: 60%;
  height: 100%;
}

.container-grafico-pizza {
  width: 40%;
  height: 100%;
}

.container-coluna {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px 0 8px 8px;
  align-items: center;
  color: var(--color-primary);
  font-size: var(--font-main);
}

.styles-bar {
  background-color: var(--color-primary);
  width: 8px;
  height: 28px;
  border-radius: 8%;
}

.receita {
  height: 60vh;
  background-color: var(--color-white);
  border-radius: 10px;
  gap: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;
}

.container-tabela {
  width: 100%;
  height: 100%;
  padding: 6px 0 0 0;
}

.container-tb {
  width: 100%;
  color: var(--color-primary);
  border-collapse: collapse;
  font-size: 14px;
}

.container-tb th,
.container-tb td {
  padding: 4px 6px;
  text-align: left;
}

.grafico-coluna,
.grafico-pizza {
  width: 100%;
  height: 100%;
  max-height: 170px;
}
